mat-toolbar{
    background-image: linear-gradient(to right, rgb(182, 182, 182),rgb(43, 226, 119));
}

button{
    color: rgb(255, 255, 255);
}

button:hover{
    color: rgb(47, 0, 255);
}

span:hover{
    color: rgb(0, 255, 242);
}