@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

h1{
    background: rgb(41, 21, 60);
    color: white;
    border-radius: 10px;
    font-family: 'Coda Caption', sans-serif;
}